<!-- Extend 'base.html' and put content into a block 'body' to match -->
{% extends 'base.html' %}

{% block title %}
    {{ stock }}
{% endblock %}
{% block content %}
<form action="/stock">
    <div class="searchBar">
            <input type="text"
            id="searchbar"
            class="searchBarStyle"
            name="search"
            placeholder="Search..."
            value="{{search}}">
            <button type="submit" class="searchButton">Search</button>
    </div>
</form>
</br>
<h2> {{ stock }}: <span style="color:green;">{{ current_price }}</span> </h2>


<!-- Reference: https://developers.google.com/chart/interactive/docs/gallery/linechart#configuration-options -->

<!-- This Script from Google allows me to use the data from the API and show it on a graph. -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['line']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Date');
            data.addColumn('number', 'Open Price');
            // Looping was not working for adding rows. This is a sample of 7 values
            // from the Stock's Prices
            // for (var i = 0; i <= 10; i++) {
            //     data.addRow(['{{stock_time[i]}}', {{stock_price[i]}}]);
            //     }

            data.addRows([
            ['{{stock_time[6]}}',  {{stock_price[6]}}],
            ['{{stock_time[5]}}',  {{stock_price[5]}}],
            ['{{stock_time[4]}}',  {{stock_price[4]}}],
            ['{{stock_time[3]}}',  {{stock_price[3]}}],
            ['{{stock_time[2]}}',  {{stock_price[2]}}],
            ['{{stock_time[1]}}',  {{stock_price[1]}}],
            ['{{stock_time[0]}}',  {{stock_price[0]}}],
            ]);



            var options = {
                chart: {
                    title: 'NASDAQ: {{ stock }} ' ,
                    subtitle: 'in USD'
                    },
                width: 900,
                height: 500,
            };

            var chart = new google.charts.Line(document.getElementById('chart_div'));
            chart.draw(data, google.charts.Line.convertOptions(options));
            }
    </script>
<body>
    <div id="chart_div"></div>
</body>
{% endblock %}
